body {
    color: white;
    background-color: black;
    font-family: monospace;
}

.formatted {
    color: orange;
    font-weight: bold;
}

.container {
    height: 100%;
}

.lb-jackaudio-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    width: 450px;
}

#lb_width_input, #lb_height_input {
    width: 90px;
}

#lb_width_input, #lb_height_input {
    width: 90px;
}

#lbVolumeScale, #lbFadeDelay, #lbWebcams {
    width: 80px;
}

#lbMaxFps {
    width: 70px;
}

.lb-setting {
    color: blue;
}

#lb_save_settings {
    background-color: black;
}

#lbSequencesMin, #lbSequencesMax,
#lbColormapsMin, #lbColormapsMax,
#lbImagesMin, #lbImagesMax,
#lbWebcamsMin, #lbWebcamsMax {
    width: 60px;
}

.lb-code {
    color: black;
    background-color: #ccc;
    font-weight: bold;
    padding: 3px;
}
